/* App.css */
.App {
  display: flex;
  text-align: center;
}

.content {
  margin-left: 0;
  padding: 20px;
  transition: margin-left 0.3s;
  flex-grow: 1;
}

.content-shift {
  margin-left: 250px; /* igual al ancho de la sidebar cuando está abierta */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (max-width: 786px) {
  .button-text {
    display: none;
  }

  #inputTarea{
    width: 20px;
  }
  


  .button-icon {
    display: inline-block;
  }
}

@keyframes blink {
  0% {
    border-color: green;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: green;
  }
}

#blinking {
  animation: blink 1s step-start 0s 3;
  
  border: 1px solid green;
}


@media (min-width: 787px) {
  .button-text {
    display: inline;
  }

  .button-icon {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}